:root {
	--pico-font-size: 100%;
	--pico-border-radius: 0.375rem;
	--pico-border-width: 2px;
	--pico-font-family: 'Clear Sans Medium', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--pico-transition: 150ms ease-in-out;
}

@media only screen and (min-width: 768px) {
	:root {
		--pico-font-size: 110%;
	}
}

:where(:root),
article,
button,
[type='submit'],
[type='button'],
[role='button'],
input,
select,
td,
th,
textarea,
article header,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
	transition: all var(--pico-transition);
}

td,
th {
	background: transparent;
}

:is(button, [type='submit'], [type='button'], [role='button']).outline.secondary,
[type='reset'].outline {
	--pico-border-color: inherit;
}

.container {
	max-width: 100%;
	padding-inline: var(--pico-spacing);
}

.toggle-sun {
	display: var(--pico-display-sun);
}

.toggle-moon {
	display: var(--pico-display-moon);
}

/* Orange color for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme='light'],
:root:not([data-theme='dark']) {
	--pico-text-selection-color: rgba(240, 96, 72, 0.25);
	--pico-primary: #c52f21;
	--pico-primary-background: #c52f21;
	--pico-primary-underline: rgba(197, 47, 33, 0.5);
	--pico-primary-hover: #9b2318;
	--pico-primary-hover-background: #af291d;
	--pico-primary-focus: rgba(240, 96, 72, 0.25);
	--pico-primary-inverse: #fff;
	--pico-ok: #00895a;
	--pico-ok-bg: #54c59f5b;
	--pico-error: #bd2d1d;
	--pico-error-bg: #d783835b;
	--pico-border-color: #c5cad6;
	--pico-range-border-color: #d6d8de;
	--pico-range-active-border-color: #d6d8de;
	--pico-range-thumb-border-color: var(--pico-color);
	--pico-range-thumb-color: var(--pico-primary-background);
	--pico-display-moon: none;
	--pico-display-sun: block;
}

/* Orange color for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		--pico-text-selection-color: rgba(241, 121, 97, 0.1875);
		--pico-primary: #f95853;
		--pico-primary-background: #c52f21;
		--pico-primary-underline: rgba(241, 121, 97, 0.5);
		--pico-primary-hover: #f5a390;
		--pico-primary-hover-background: #d93526;
		--pico-primary-focus: rgba(241, 121, 97, 0.25);
		--pico-primary-inverse: #fff;
		--pico-ok: #00c482;
		--pico-ok-bg: #22926d5b;
		--pico-error: #f5514b;
		--pico-error-bg: #9930415b;
		--pico-border-color: #2a3140;
		--pico-range-border-color: var(--pico-muted-color);
		--pico-range-active-border-color: var(--pico-muted-color);
		--pico-range-thumb-border-color: var(--pico-background-color);
		--pico-range-thumb-color: var(--pico-primary-background);
		--pico-display-moon: block;
		--pico-display-sun: none;
	}
}

/* Orange color for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme='dark'] {
	--pico-text-selection-color: rgba(241, 121, 97, 0.1875);
	--pico-primary: #f95853;
	--pico-primary-background: #c52f21;
	--pico-primary-underline: rgba(241, 121, 97, 0.5);
	--pico-primary-hover: #f5a390;
	--pico-primary-hover-background: #d93526;
	--pico-primary-focus: rgba(241, 121, 97, 0.25);
	--pico-primary-inverse: #fff;
	--pico-ok: #00c482;
	--pico-ok-bg: #22926d5b;
	--pico-error: #f5514b;
	--pico-error-bg: #9930415b;
	--pico-border-color: #2a3140;
	--pico-range-border-color: var(--pico-muted-color);
	--pico-range-active-border-color: var(--pico-muted-color);
	--pico-range-thumb-border-color: var(--pico-background-color);
	--pico-range-thumb-color: var(--pico-primary-background);
	--pico-display-moon: block;
	--pico-display-sun: none;
}
