@font-face {
	font-family: 'Clear Sans Medium';
	font-style: normal;
	font-weight: 500;
	src:
		local('Clear Sans Medium'),
		url('https://fonts.cdnfonts.com/s/16214/ClearSans-Medium.woff') format('woff');
	font-display: swap;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
