@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter Variable';
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src:
		local('Inter Variable'),
		local('Inter'),
		local('Inter-Variable'),
		url('/fonts/Inter.woff2') format('woff2');
	font-display: swap;
}

.outline {
	@apply outline-none;
}
